############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Dependencies
############################
node_modules/

############################
# Strapi
############################
.cache/
build/
dist/
.strapi/
.strapi-updater.json
exports/
*.db
*.sqlite

############################
# Env
############################
.env
.env.*
!.env.example

############################
# Logs
############################
*.log
npm-debug.log*

############################
# TypeScript
############################
*.tsbuildinfo
